
body {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.card-body {
    display: flex;
    min-height: 2rem;
    flex-direction: column;
    row-gap: 1rem;
    /* position: relative; */
}

.card {
    position: relative;
}

.fab {
    height: 3rem;
    width: 3rem;
}

